@media print {
    *, label, th {
        font-weight: normal !important;
        font-size: 12px;
    }

    .subTitle {
        font-size: 14px !important;
        line-height: 24px !important;
        height: 24px !important;
        font-weight: bolder;
        background-color: #e9e9e9;
        border-bottom: 0 !important;
    }

    .dy_print {
        font-size: 12px !important;
        line-height: 22px !important;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent;
    }

}

/* 不打印的 */
.noPrint {display: none;}